@media (min-width: 700px) {
  html {
    font-size: 175%;
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1 0 auto;
  padding: 1em;
}

footer {
  flex-shrink: 0;
  padding: 1em;
}

footer p {
  margin: 0;
}

* {
  font-family: monospace;
}
h1 {
  margin-bottom: 0;
  /*font-size: 3rem;*/
}
ul {
  font-size: 1rem;
  white-space: nowrap;
}
ul.tree {
  list-style-type: none;
  padding-left: 1em;
  margin-top: 0;
}
ul.tree li:first-child::before {
  content: '.\A├──';
  white-space: pre;
}
ul.tree li::before {
  content: "├── ";
}
ul.tree li:last-child::before {
  content: "└── ";
}
