<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add route</title>
  </head>
  <body>
    <h1>remove routes</h1>
    <form name="remove" action="/remove" method="post">
      {% for name, destination in routes.items() %}
          <input type=checkbox name={{name}} id={{name}}>
          <label for={{name}}>
            {{name}}: <a href={{destination}}>{{destination}}</a>
          </label><br>
      {% endfor %}
      <input type="submit"/>
    </form>
</html>
  </body>
</html>
